header {
    color: white;
    background-color: var(--mta-blue);
    text-align: center;
    padding: 1.5rem 0;
}

main {
    margin: 0 0 1rem;
}

.register-form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.form-label {
    font-size: 1.25rem;
    font-weight: 500;
}

.form-input {
    outline: none;
    font-size: 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.form-input + .form-label {
    margin-top: 1rem;
}

.form-input:hover {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

.form-input:active,
.form-input:focus {
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

.submit-button {
    font-size: 1.25rem;
    margin: 2rem 4rem;
    padding: 0.5rem;
}

.error-text {
    font-weight: 500;
    color: var(--danger);
    align-self: center;
}

.title-banner {
    cursor: pointer;
    font-family: var(--accent-font);
    font-weight: 700;
    margin: 0;
}

.title-banner:hover {
    text-shadow: 0 0 3px var(--accent-color);
}

.search-container {
    display: flex;
    flex-direction: column;
}

.search-query {
    margin: 2rem 2rem 1rem;
}

.search-button {
    padding: 0.5rem 1rem;
}

.buttons-container,
.route-details,
.bus-stop {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.control-button {
    outline: none;
    color: white;
    background-color: var(--accent-color);
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    transition: 0.1s all linear;
}

.control-button:hover {
    background-color: var(--accent-dim);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

.control-button:active,
.control-button:focus {
    background-color: var(--accent-dimmer);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

.boro-button {
    font-size: 2rem;
    margin: 1rem;
    padding: 0.75rem;
}

.route-button {
    color: black;
    font-size: 1.25rem;
    min-height: 70px;
    margin: 0.75rem;
    opacity: 0.88;
}

.route-button:hover {
    opacity: 0.94;
}

.route-button:active {
    opacity: 1;
}

.route-details {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem 1.5rem 0;
}

.route-name,
.route-desc {
    margin: 0;
    line-height: 1.25;
}

.route-name {
    font-weight: 600;
}

.route-desc {
    font-size: 1.25rem;
    font-style: italic;
}

.outbound-label,
.inbound-label {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 1rem 1rem 0;
}

.outbound-label {
    text-align: right;
}

.stop-button {
    font-size: 1.25rem;
    min-height: 70px;
    margin: 0.25rem;
}

.stop-visitor {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0.75rem 0.25rem;
}

.line-name,
.time-away {
    margin: 0;
    line-height: 1.25;
}

.line-name {
    font-weight: 700;
    font-style: italic;
}
