@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Chakra+Petch:wght@300;400;500;600;700&display=swap");

:root {
    --main-font: "Bai Jamjuree", sans-serif;
    --accent-font: "Chakra Petch", sans-serif;

    --mta-blue: #1c57b3;
    --accent-color: #1cb378;
    --accent-dim: #199d69;
    --accent-dimmer: #15875a;
}

body {
    font-family: var(--main-font);
    font-size: 16px;
}
